@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,900");
body {
  padding: 0;
  margin: 0;
  height: 100%; }

h2 {
  font-size: 4.3em;
  padding: 0;
  margin: 0 auto; }

h3, h4 {
  font: 100% "Lato", sans-serif; }

p {
  font: 100% "Lato", sans-serif; }

a {
  color: #1A2930;
  font: 100% "Lato", sans-serif;
  text-decoration: none;
  cursor: pointer; }

.page_container {
  display: flex;
  flex-direction: column; }

.primary_nav {
  border-bottom: 1px solid #A9A9A9; }
  .primary_nav .primary_nav_flex {
    align-items: center;
    display: flex;
    justify-content: space-between; }
    .primary_nav .primary_nav_flex ul {
      padding: 0 3.5em; }
  .primary_nav .primary_nav_ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 18%;
    font: 0.9em "Lato", sans-serif;
    color: #1A2930; }
    .primary_nav .primary_nav_ul .primary_nav_item .primary_nav_item_link {
      color: #000;
      text-decoration: none;
      transition: color .3s ease-in; }
      .primary_nav .primary_nav_ul .primary_nav_item .primary_nav_item_link:hover {
        color: rgba(0, 0, 0, 0.7); }
  .primary_nav .primary_nav_item {
    display: inline-block; }

.primary_nav_logo {
  margin-top: 5px; }

.main_nav_border {
  width: 100%; }

.primary_nav_effect li {
  float: left;
  position: relative;
  display: block; }
.primary_nav_effect li > a:after {
  content: '';
  position: absolute;
  top: 1.5em;
  left: 15%;
  width: 70%;
  height: 3px;
  transform: scaleX(0);
  background-color: #DE1B1B;
  transition: all .2s ease; }
.primary_nav_effect .primary_nav_current > a,
.primary_nav_effect li > a:hover {
  background-color: transparent;
  color: #111; }
.primary_nav_effect li > a:hover::after {
  transform: scaleX(2); }
.primary_nav_effect .primary_nav_current > a:after {
  content: '';
  position: absolute;
  top: 1.5em;
  left: 15%;
  width: 70%;
  height: 3px;
  transform: scaleX(2);
  background-color: #DE1B1B; }

.round_btn {
  font: 100% "Lato", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid #1A2930;
  border-radius: 60px;
  text-transform: uppercase; }

.homepage_part01_grid {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-template-rows: 85vh auto;
  align-items: center;
  justify-items: center; }
  .homepage_part01_grid .homepage_bg_intro {
    grid-column: 2/3;
    justify-self: end; }
    .homepage_part01_grid .homepage_bg_intro .bg_first_header {
      font-size: 5em; }
  .homepage_part01_grid .homepage_bg_logo {
    grid-column: 3/4; }
  .homepage_part01_grid .shomepage_intro_svg {
    grid-column: 1/-1;
    grid-row-start: 2; }

.homepage_part02_grid {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  align-items: center;
  justify-items: center; }
  .homepage_part02_grid .homepage_aboutme_intro {
    grid-column: 1/-1;
    text-align: center; }
    .homepage_part02_grid .homepage_aboutme_intro h2 {
      font-size: 4.3em;
      margin: 35px auto;
      padding: 0; }
  .homepage_part02_grid .homepage_aboutme_button {
    grid-column: 1/-1;
    text-align: center; }

.homepage_part03_grid {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  align-items: center;
  justify-items: center; }
  .homepage_part03_grid .homepage_work_intro_grid {
    grid-column: 1/-1;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 0;
    padding: 0; }
    .homepage_part03_grid .homepage_work_intro_grid .homepage_work_part2 {
      grid-column: 2/3;
      grid-row: 2; }

.homepage_work_gallery_grid {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 150px auto 150px; }

.homepage_work_gallery_item {
  background-color: #EFEFEF; }

.homepage_work_gallery_title01 {
  grid-column: 1/-1;
  grid-row: 1/2; }

.web_gallery {
  grid-row: 2/3; }

.homepage_work_gallery_title01 {
  grid-column: 1/-1;
  grid-row: 3/4; }

.graphic_gallery {
  grid-row: 4/5; }

.homepage_work_button {
  grid-column: 1/-1;
  text-align: center; }

.homepage_part04_grid {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 50px; }
  .homepage_part04_grid .bg_third_header {
    grid-column: 3/4; }
  .homepage_part04_grid .bg_body_header {
    grid-column: 3/4; }
  .homepage_part04_grid .contactme_social_icon {
    grid-column: 3/4; }
  .homepage_part04_grid .social_icon_flex {
    display: flex;
    justify-content: space-around; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1A2930;
  padding: 1em 2px; }
  footer p {
    color: #EFEFEF;
    margin: 0; }

/*# sourceMappingURL=styles.css.map */
