@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,900");
body {
  padding: 0;
  margin: 0;
  height: 100%; }

h2 {
  font-size: 4.5em;
  padding: 0;
  margin: 0; }

h3 {
  font: 100% "Lato", sans-serif; }

p {
  font: 100% "Lato", sans-serif; }

a {
  color: #1A2930;
  font: 100% "Lato", sans-serif;
  text-decoration: none;
  cursor: pointer; }

.empty_border, .border_area {
  border: 1px solid #A9A9A9; }

.page_container {
  display: flex;
  flex-direction: column; }

.primary_nav {
  border-bottom: 1px solid #A9A9A9; }
  .primary_nav .primary_nav_flex {
    align-items: center;
    display: flex;
    justify-content: space-between; }
    .primary_nav .primary_nav_flex ul {
      margin-right: 25px; }
  .primary_nav .primary_nav_ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 18%;
    font: 0.9em "Lato", sans-serif;
    color: #1A2930; }
    .primary_nav .primary_nav_ul .primary_nav_item .primary_nav_item_link {
      color: #000;
      text-decoration: none;
      transition: color .3s ease-in; }
      .primary_nav .primary_nav_ul .primary_nav_item .primary_nav_item_link:hover {
        color: rgba(0, 0, 0, 0.7); }
  .primary_nav .primary_nav_item {
    display: inline-block; }

.primary_nav_logo {
  margin-top: 5px; }

.main_nav_border {
  width: 100%; }

.primary_nav_effect li {
  float: left;
  position: relative;
  display: block; }
.primary_nav_effect li > a:after {
  content: '';
  position: absolute;
  top: 1.5em;
  left: 15%;
  width: 65%;
  height: 3px;
  transform: scaleX(0);
  background-color: #DE1B1B;
  transition: all .2s ease; }
.primary_nav_effect .primary_nav_current > a,
.primary_nav_effect li > a:hover {
  background-color: transparent;
  color: #111; }
.primary_nav_effect li > a:hover::after {
  transform: scaleX(2); }
.primary_nav_effect .primary_nav_current > a:after {
  content: '';
  position: absolute;
  top: 1.5em;
  left: 15%;
  width: 70%;
  height: 3px;
  transform: scaleX(2);
  background-color: #DE1B1B; }

.round_btn {
  font: 100% "Lato", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid #1A2930;
  border-radius: 60px;
  text-transform: uppercase; }

.homepage_part01_grid {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 2fr;
  grid-template-rows: 80vh auto;
  align-items: center;
  justify-items: center;
  margin-bottom: 50px; }
  .homepage_part01_grid .homepage_bg_intro {
    grid-column: 2/3;
    justify-self: end; }
    .homepage_part01_grid .homepage_bg_intro .typing_header {
      margin: 0; }
    .homepage_part01_grid .homepage_bg_intro .bg_first_header1 {
      font-size: 8em; }
    .homepage_part01_grid .homepage_bg_intro .bg_first_header2 {
      font-size: 6em; }
  .homepage_part01_grid .homepage_bg_logo {
    grid-column: 3/4; }
  .homepage_part01_grid .shomepage_intro_svg {
    grid-column: 1/-1;
    grid-row-start: 2; }

.homepage_part02_grid {
  margin: 0;
  display: grid;
  grid-template-columns: 3fr 1fr 4fr 4fr 1fr 3fr;
  grid-template-rows: 300px 300px 200px;
  height: 80vh; }
  .homepage_part02_grid .aboutme_empty_box01 {
    grid-row: 1/3;
    grid-column: 1/2; }
  .homepage_part02_grid .aboutme_empty_bg_box {
    grid-column: 2/6;
    grid-row: 1/3; }
  .homepage_part02_grid .homepage_aboutme_intro {
    grid-column: 2/6;
    grid-row: 1/3;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column; }
    .homepage_part02_grid .homepage_aboutme_intro .homepage_aboutme_button {
      align-self: center;
      margin-top: 5vh; }
  .homepage_part02_grid .aboutme_empty_box02 {
    grid-column: 6/7;
    grid-row: 1/3; }

.homepage_work_intro_grid {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 2fr 4fr 4fr 2fr;
  grid-template-rows: 300px 300px; }

.homepage_work_part2 {
  text-align: right; }

.intro_grid_empty_box01 {
  grid-row: 1/3;
  grid-column: 1/2; }

.intro_grid_empty_box02 {
  grid-column: 2/4;
  grid-row: 1/3;
  z-index: 1; }

.homepage_work_part1 {
  grid-column: 2/3;
  grid-row: 1/3;
  z-index: -2;
  align-self: end;
  margin-bottom: 50px; }

.homepage_work_part2 {
  grid-column: 4/5;
  grid-row: 1/3;
  padding-top: 50px; }

.intro_grid_empty_box03 {
  grid-row: 1/3;
  grid-column: 5/6; }

.gallery_item {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: row dense;
  grid-gap: 10px;
  padding: 7em 5em; }
  .gallery_item .showcase_item {
    background-size: cover;
    background-repeat: no-repeat; }
  .gallery_item .gallery_item_showcase1 {
    background-image: url(../img/homepageimg/bobby_sm.png);
    background-position: center; }
  .gallery_item .gallery_item_showcase2 {
    background-image: url(../img/homepageimg/foodicon_sm.png);
    background-position: center; }
  .gallery_item .gallery_item_showcase3 {
    background-image: url(../img/homepageimg/fox_sm.png);
    background-position: bottom; }
  .gallery_item .gallery_item_showcase4 {
    background-image: url(../img/homepageimg/catpro_sm.png);
    background-position: center; }
  .gallery_item .gallery_item_showcase5 {
    background-image: url(../img/homepageimg/eating_sm.png);
    background-position: center; }
  .gallery_item .gallery_item_text2 {
    font: 3.5em "Merriweather", serif;
    font-weight: 900; }
  .gallery_item .gallery_item_showcase6 {
    background-image: url(../img/homepageimg/sun_sm.png);
    background-position: bottom; }

.homepage_part04_grid {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 2fr 1fr;
  grid-template-rows: 250px 250px; }
  .homepage_part04_grid .contact_empty_box01 {
    grid-column: 1/2;
    grid-row: 1/3; }
  .homepage_part04_grid .contact_empty_box02 {
    grid-column: 2/3;
    grid-row: 1/3; }
  .homepage_part04_grid .lg_contact_empty_box {
    grid-column: 3/4;
    grid-row: 1/3;
    z-index: 3; }
  .homepage_part04_grid .contactme_header {
    grid-column: 3/4;
    grid-row: 1/2;
    z-index: -3;
    text-align: center;
    align-self: end; }
  .homepage_part04_grid .contact_inform {
    grid-column: 3/4;
    grid-row: 2/3;
    z-index: 99;
    text-align: center; }
    .homepage_part04_grid .contact_inform h3 {
      font: 2em "Lato", sans-serif; }
  .homepage_part04_grid .contact_empty_box03 {
    grid-column: 4/5;
    grid-row: 1/3; }
  .homepage_part04_grid .contact_empty_box04 {
    grid-column: 5/6;
    grid-row: 1/3; }
  .homepage_part04_grid .social_icon_flex {
    display: flex;
    justify-content: center; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1A2930;
  padding: 1em 2px; }
  footer p {
    color: #EFEFEF;
    margin: 0; }

/*# sourceMappingURL=styles.css.map */
