$primary-font: 'Merriweather', serif;
$secondary-font: 'Lato', sans-serif;

$light-grey: #DFDCE3;
$dark-grey: #A9A9A9;
$dark-blue: #1A2930;
$highlight-red: #DE1B1B;

img {width: 100%}

.innerpage_gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 12fr 1fr 1fr;
	grid-template-rows: auto auto;
	margin: 0;

}
.innerpage_context_empty_box01{
	grid-column: 1/2;
	grid-row:1/3;
}
.innerpage_context_empty_box02{
	grid-column: 2/3;
	grid-row:1/3;
}

.innerpage_part1 {
	grid-column: 3/4;
	grid-row:1/2;
	border-left: 1px solid $light-grey;
	border-right: 1px solid $light-grey;
	justify-self: center;
	padding:2.5em 5em;
	z-index: 99;
	width: 100%;

	display: flex;
	flex-direction: column;

	.download_resume_btn {
		align-self: center;
		margin-top: 15vh;
	}
}

// .gallery_text {font-size: 2em;}

.body_gallery {
	margin-top: 50px;
	font: 100% $secondary-font;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-auto-rows: auto;
	grid-gap: 3em 1em;
  	grid-auto-flow: row dense;
}

.web_item_01 {
	grid-column: 2/-1;
	grid-row:1;
}

.web_item_02 {
	grid-column: 1/3;
	grid-row: 2;
}

.web_item_03 {
	grid-column: 2/-1;
	grid-row:3;
}

.web_item_04 {
	grid-column: 1/3;
	grid-row:4;
}

.web_item_05 {
	grid-column: 2/-1;
	grid-row:5;
}


.web_gallery_item {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

}
.web_item_images01{
	margin-left: 30px;
	grid-column: 1/-1;
	grid-row: 1;
	background-image: url(../img/webgallery/fox/fox_featured.png);
  	background-position: bottom;
  	height: 400px
}
.web_item_images02{
	grid-column: 1/-1;
	grid-row: 1;
	margin-right: 30px;
  	background-color: $dark-grey;
  	height: 400px
}
.web_item_images03{
	grid-column: 1/-1;
	grid-row: 1;
	margin-left: 30px;
	background-image: url(../img/webgallery/kimono/kimono_featured.jpg);
  	background-position: center;
  	height: 400px
}
.web_item_images04{
	grid-column: 1/-1;
	grid-row: 1;
	margin-right: 30px;
	background-image: url(../img/webgallery/foodApp/foodapp_featured.png);
  	height: 400px
}
.web_item_images05{
	grid-column: 1/-1;
	grid-row: 1;
	margin-left: 30px;
	background-image: url(../img/webgallery/catpro/catpro_featured.png);
  	background-position: center;
  	height: 400px
}
.item_text_right {grid-column: 1/3;}
.item_text_left {grid-column: 4/-1;}
.item_text {
	grid-row: 1;

	align-self: end;
	height: 50px;
	line-height: 50px;

	font-size: 1.15em;
	background-color: $dark-blue;
	color: white;
	font-weight: 700;
	padding: 0 20px;
}

.innerpage_web_detail {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
  	grid-auto-flow: row dense;
	border-left: 1px solid #DFDCE3;
	border-right: 1px solid #DFDCE3;
	padding: 2.5em 5em;
	grid-gap: 3em;
}

.portfolio_link{
	color:white;
	padding: 2px 10px;
	background-color: $highlight-red;
	justify-self: center;
	font-size: 2.3em;
	font-weight: 700;

	&:hover{
	opacity: 0.8;
	padding: 3px 15px;
	transition: all .5s ease-in-out;
	}
}
.portfolio_section_title {
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	background-color: $highlight-red;
	width: 5em;
	text-align: center;
	color: white;
}
.portfolio_skill_list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	list-style: none;
	font: 100% $secondary-font;
	padding: 0;
}



.portfolio_image_fox {padding:0 2em;}

.portfolio_paragraph {
	padding: 2em 7em;
}

@media only screen and (max-width: 700px) {
    .body_gallery {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 700px) {
	.homepage_part01_grid {
		display: flex;
		flex-direction: column;
		font-size: 1.5em;
	}

	.homepage_bg_logo {display: none;}

	.typing_header {text-align: center;}
	.homepage_part02_grid > div {
		border:none;
		grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
	}
	.empty_border, .border_area {display: none;}
	.homepage_work_intro_grid{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		align-item: center;
		justify-item:center;
		text-align: center;
	}
	.homepage_work_part1 {margin:0;}
	.homepage_part04_grid, .contact_me_grid {
	    grid-template-columns: 1fr;
	    grid-template-rows: auto;
	}
	.homepage_part04_grid {
		display: block;
	}
}

@media only screen and (max-width: 650px) and (min-width: 300px) {
	.gallery_text {font-size: 8vw;}
}
