$primary-font: 'Merriweather', serif;
$secondary-font: 'Lato', sans-serif;

$light-grey: #EFEFEF;
$dark-grey: #A9A9A9;
$dark-blue: #1A2930;
$highlight-red: #DE1B1B;

.body_gallery {
	font: 100% $secondary-font;

	//width: 100%;
	//margin: 2em auto;
	//padding: 0 1em;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 150px;
  	grid-auto-flow: row dense;
  	grid-gap: 10px;

}

.web_item_01 {
	background-image: url(../img/webgallery/fox_web_show.png);
  	background-position: bottom;
}
.web_item_02 {
	background-color: $dark-grey;
  	//background-position: bottom;
}
.web_item_03 {
  	//background-position: bottom;
}

@media only screen and (max-width: 700px) {
    .body_gallery {
		grid-template-columns: 1fr;
	}
}