$primary-font: 'Merriweather', serif;
$secondary-font: 'Lato', sans-serif;

$light-grey: #EFEFEF;
$dark-grey: #A9A9A9;
$dark-blue: #1A2930;
$highlight-red: #DE1B1B;

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,900');

// universal elements
body {
	padding:0;
	margin:0;
	height: 100%;
}


h2 {
	font-size: 4.3em;
	padding: 0;
	margin: 0 auto;
}



a {
	color:$dark-blue;
	text-decoration: none;
	cursor: pointer;
}

.page_container {
	display: flex;
	flex-direction: column;

}
// navbar
.primary_nav {
	border-bottom: 1px solid $dark-grey;

	.primary_nav_flex {
	    align-items: center;
	    display: flex;
	    justify-content: space-between;

	    ul {
	    	padding: 0 3.5em;
	    }
  	}
  	.primary_nav_ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 18%;
    font: 0.9em $secondary-font;
    color: $dark-blue;

    .primary_nav_item .primary_nav_item_link{
      color: #000;
      text-decoration: none;
      transition: color .3s ease-in;


     	&:hover {
     		color: rgba(0,0,0,0.7);
     		}
	 	}
	}

	 .primary_nav_item  {
	    display: inline-block;
	 }
}

.primary_nav_logo {
	margin-top: 5px;
}

.main_nav_border {
  width:100%;
}

.primary_nav_effect {
	li {
	  float: left;
	  position: relative;
	  display: block;
	}

	li:after {
	  color: $dark-grey;
	  content: '|';
	  position: absolute;
	  //top: 2.3em;
	  right: -2.5em;
	  z-index: 10;
	  transform: rotate(13deg);
	  -webkit-transform: rotate(13deg);
	  -o-transform: rotate(13deg);
	  -ms-transform: rotate(13deg);
	}

	li > a:after {
	  content: '';
	  position: absolute;
	  top: 1.5em;
	  left: 15%;
	  width: 70%;
	  height: 3px;
	  transform: scaleX(0);
	  background-color: $highlight-red;
	  transition: all .2s ease;
	  //opacity: 0.6;
	}
	.primary_nav_current > a,
	li > a:hover {
	  background-color: transparent;
	  color: #111;
	}

	li > a:hover::after {
	  transform: scaleX(2);
	}
	.primary_nav_current>a:after {
		content: '';
		position: absolute;
		top: 1.5em;
		left: 15%;
		width: 70%;
		height: 3px;
		transform: scaleX(2);
		background-color: $highlight-red;
	} 
}



.round_btn {
	font: 100% $secondary-font;
	font-weight: bold;
	padding: 10px 20px;
	border:3px solid $dark-blue;
	border-radius: 60px;
	text-transform: uppercase;
}




footer {
	background: orange;
}



// homepage grid

.homepage_part01_grid {
	display: grid;
	grid-template-columns: 2fr 3fr 3fr 2fr;
	grid-template-rows: 85vh auto;
	align-items: center;
	justify-items: center;

	.homepage_bg_intro {
	grid-column: 2/3;
	justify-self: end;

		.bg_first_header{
			font-size: 5em;

		}
	}

	.homepage_bg_logo {
		grid-column: 3/4;
	}
	.shomepage_intro_svg {
		grid-column: 1/-1;
		grid-row-start: 2;
	}
}

.homepage_part02_grid {
	display: grid;
	grid-template-columns: 2fr 3fr 3fr 2fr;
	align-items: center;
	justify-items: center;
	height: 100vh;

	.homepage_aboutme_intro {
		grid-column: 1/-1;
		text-align: center;

		h2 {
			font-size: 4.3em;
			margin: 35px auto;
			padding: 0;
		}
	}

	.homepage_aboutme_button {
		grid-column: 1/-1;
		text-align: center;
	}
}

.homepage_part03_grid {
	display: grid;
	grid-template-columns: 2fr 3fr 3fr 2fr;
	align-items: center;
	justify-items: center;
	height: 90vh;

	.homepage_work_intro_grid {
		grid-column: 1/-1;
		text-align: center;

		display: grid;
		grid-template-columns: 2fr 3fr;
		margin: 0;
		padding: 0;

		.homepage_work_part2 {
			grid-column: 2/3;
			grid-row: 2;
		}

	}

	.homepage_work_gallery_grid {
		grid-column: 1/-1;
		text-align: center;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.homepage_work_button {
		grid-column: 1/-1;
		text-align: center;
	}
}








